*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #ffffff;
    --bg: #f3f6ff;
    --title-color: #070e30;
    --text-color: #6F7CB2;
    --alt-text-color: #5D6970;
    --alt-bg: #e7ecff;
    --fs-40px: 40px;
    --fs-36px: 36px;
    --fs-22px:22px;
    --fs-20px: 20px;
    --fs-16px: 16px;
    --section-padding: 60px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-white);
    font-family: "Poppins", serif
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1{
    font-size: clamp(30px,8vw,var(--fs-40px));
    color: var(--title-color);
}
h2.title{
    font-size: clamp(30px,5vw,var(--fs-36px));
    color: var(--title-color);
}
h3.title{
    font-size: var(--fs-20px);
    color: var(--title-color);
}
/* Utility Classes */
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.grid{
    display: grid;
}
.in-flex{
    display: inline-flex;
    align-items: center;
}
.description{
    margin: 25px 0;
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--text-color);
}
.text-center{
    text-align: center;
}
.link-btn{
    display: inline-block;
    padding: 8px clamp(35px,5vw,45px);
    font-size: var(--fs-16px);
    font-weight: 500;
    background-color: var(--title-color);
    color: var(--clr-white);
}
section{
    padding: var(--section-padding) 0;
}
/* Components */
header{
    position: fixed;
    top:0;
    z-index: 10;
    width:100%;
    background-color: transparent;
    padding: 25px 0;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .logo a{
    font-size: calc(var(--fs-22px) + 4px);
    font-weight: 600;
    color: var(--title-color);
}
header .container nav ul li a{
    display: block;
}
@media (max-width:991px) {
    header .container nav input{
        display: none;
    }
    header .container nav ul{
        position: fixed;
        top: 110px;
        right: -100%;
        max-width: 240px;
        width: 60%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        color: var(--clr-white);
        background-color: var(--title-color);
        transition: all 400ms linear;
    }
    header .container nav ul a{
        display: block;
        margin: 10px 0;
    }
    header .container nav input:checked ~ ul{
        right: 20px;
    }
}
@media (min-width:992px) {
    header .container nav input,
    header .container nav label{
        display: none;
    }
    header .container nav ul{
        display: flex;
        gap: 25px;
        color: var(--text-color);
    }
    header .container nav ul li a:hover,
    header .container nav ul li .active{
        color: var(--title-color);
    }
}
.hero{
    padding: calc(var(--section-padding) + 40px) 0;
}
.hero .container{
    min-height:100vh;
}
.hero .container .col .links{
    display: flex;
    flex-wrap: wrap;
    gap:20px 10px;
}
.hero .container .col .links a:last-child{
    border: 2px solid var(--title-color);
    background-color: transparent;
    color: var(--title-color);
}
.light .container .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin-top: 30px;
}
.light .container .cards  img{
    width: 70px;
}
@media (max-width:991px) {
    .hero .container .image-box{
        display: none;
    }
    section .container .col .links{
        justify-content: center;
    }
    .light .container .cards {
        text-align: center;
    }
}
@media (min-width:992px) {
    section .container{
        justify-content: space-between;
    }
    section .container .col{
        flex-basis: 49%;
    }
    .hero .container .image-box{
        width: 50%;
        position: absolute;
        top: -50px;
        right: 0;
        z-index: -1;
    }
    .light .container .cards .card{
        flex-basis: 45%;
    }
}